build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

*.swp
imagenet-100/*
.vscode/
output/*
noisy_imagenet-100/*
history/*
imagenet-100-extra/*
mini-imagenet/*
noisy_mini-imagenet/*
mini-imagenet-extra/*
noisy_mini_imagenet*/*
noisy_mini_imagenet-gauss255/*
noisy_mini-imagenet-gauss255-extra/*
noisy_mini-imagenet*/*
output_*/*
output_*/**
./*.png
/*.png
accuracy_comparison.png

test_scripts/
old_utils/
calculate_snr.py
check_lost_iter.py
clean_memory.py
completed_tasks.sh
config.yaml
dinov2_vits14_pretrain.pth
dinov2.zip
ic_result*
inspect.txt
kevin.sh
la_weekend.sh
matplotlibinstall.txt

multitest.sh

paste_tool.sh
paste_tool2.sh
paste_tool3.sh
paste_tool4.sh

probe_kevin.py

shot1_data.pkl
shot3_data.pkl
shot10_data.pkl
single_save.sh
single_test.sh

test_restart.sh
test.sh
train_curriculum.sh
train_denoised.sh
train_ref.sh
train_resume.sh
train_resume200_higher.sh
train_resume200.sh
train_speckle.sh
train.sh
weekend_task1.sh
weekend_task2.sh
logs/*

test.sh
train.sh
old_utils
generated_ic_script.sh

restart.sh













